<div class="container-xxl">
  <header class="row align-items-center">
    <div class="col-1 mx-0 px-0"><img class="img-fluid" src="../assets/images/note.png" alt="Music note"></div>
    <div class="col"><h1>Requêtes musicales</h1></div>
  </header>
  <div class="row">
    <div class="col-3">
      <form (ngSubmit)="searchArtist()" *ngIf="!resultArtist && !resultSong">
        <input type="text" name="artistName" [(ngModel)]="artist" class="form-control" placeholder="Nom d'un artiste">
        <input type="submit" value="Rechercher l'artiste" class="btn btn-light">
      </form>
      <form (ngSubmit)="newSearch()" *ngIf="resultArtist">
        <input type="submit" value="Nouvelle recherche">
      </form>
      <form (ngSubmit)="backAlbums()" *ngIf="resultSong">
        <input type="submit" value="Retourner aux Albums">
      </form>
    </div>
    <div class="col artists w-100">
        <h2>Résultats</h2>
        <div *ngIf="resultArtist">
		  <!-- L'affichage des artistes similaires sera ici 😩 -->
      <div class="row w-100">
        <h1 class="my-5">{{artist}}</h1>
          <div *ngFor="let i of albums" class="col-3 px-1" (click)="infoAlbum(i)">
            <img src="{{i.pochette}}" class="img-fluid" alt="images">
            <p class="my-5" >{{i.name}}</p>
          </div>
          
      </div>
		</div>
    <div *ngIf="resultSong">
      <h1 class="my-5">Chanson de <strong>{{nomAlbum}}</strong></h1>
		  <!-- L'affichage des artistes similaires sera ici 😩 -->
      <ol>
          <li *ngFor="let i of chansons">
            <a href="{{i.url}}">{{i.name}}</a>
          </li>
          
        </ol>
		</div>
    </div>
  </div>
</div>